.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    /* border: 2px inherit; */
    /* border-color: blurred transparent; */
    /* clip-path: circle(50%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}